*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serf;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: canter;
}
.profile-card{
  width: 90%;
  max-width: 450px;
  text-align: center;
  background: #fff;
  color: #333;
}
.cover-pic{
  display: block;
  width: 100%;
}
.profile-pic{
  width: 140px;
    border-radius: 50%;
  margin-top: -70px;
  
  
